.wire-index-indicator {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #414a4c;
  opacity: 0.2;
  font-size: 1rem;
  position: absolute;
  transform: translate(-100%, -25%);
}
