.gate-tooltip {
  position: absolute;
  padding: 6px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background: #414a4c;
  z-index: 10;
  pointer-events: none;
  border-radius: 6px;
  box-shadow: 2px 2px 8px #556164a9;
}

.gate-tooltip-name {
  font-weight: 600;
}

.gate-tooltip-matrix {
  padding-top: 6px;
  padding-bottom: 6px;
}

.gate-tooltip-name {
  padding-left: 6px;
}
