.wire-segment-tooltip {
  position: absolute;
  padding: 6px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #414a4c;
  color: white;
  z-index: 10;
  pointer-events: none;
  border-radius: 6px;
  box-shadow: 2px 2px 8px #556164a9;
}

.wire-segment-tooltip-probability-row {
}

.wire-segment-basis-element {
  margin-right: 6px;
  font-weight: 600;
}

.wire-segment-tooltip-row-divider {
  height: 1px;
  background: white;
  margin-top: 4px;
  margin-bottom: 2px;
}
