.cnot-gate {
  position: absolute;
}

.cnot-wire {
  height: calc(100% - 6px);
  width: 2px;
  background: #414a4c;
  position: relative;
  left: 4px;
  top: 6px;
}

.cnot-control-bit {
  position: absolute;
  transform: translateX(-35%) translateY(-50%);
}

.cnot-x-gate {
  position: absolute;
  transform: translateX(-47%);
}
