.circuit-wire-segment {
  position: absolute;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circuit-wire-segment-line {
  border: 1px solid #414a4c;
  height: 0;
  width: 100%;
}

.tooltip-enter {
  opacity: 0.01;
  transform: scaleY(0.88);
}

.tooltip-enter.tooltip-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in, transform 300ms ease-out;
  transform: scaleY(1);
}

.tooltip-leave {
  opacity: 1;
  transform: scaleY(1);
}

.tooltip-leave.tooltip-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in, transform 300ms ease-out;
  transform: scaleY(0.88);
}
